body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: League Gothic, sans-serif;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logout {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 23px;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
}

.title {
    font-size: 49px;
    color: white;
    font-family: League Gothic, sans-serif;
}

.title .green-text {
    color: #53bc4a;
}

.search-bar {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: League Gothic, sans-serif;
}

.search-bar input {
    width: 300px;
    padding: 10px;
    font-size: 19px;
    font-family: League Gothic, sans-serif;
}

.search-bar span {
    margin-left: 10px;
    font-size: 16px;
    padding: 10px;
    background-color: #53bc4a;
}

.search-bar button {
    padding: 10px 20px;
    font-size: 19px;
    font-family: League Gothic, sans-serif;
    background-color: #53bc4a;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: green;
}

/* Layout fix */
.content {
    display: flex;
    flex-direction: column; /* stack table and graphs vertically */
    width: 100%;
    gap: 20px; /* space between table and graphs */
    font-family: League Gothic, sans-serif;
    font-size: 22px;
    font-weight: lighter;
}

.stock-table {
    width: 100%;
}

.stock-table table {
    width: 100%;
    border-collapse: collapse;
}

.stock-table th, .stock-table td {
    border: 1px solid #53bc4a;
    padding: 10px;
    text-align: left;
}

.stock-table th {
    font-weight: 50;
}

.placeholders-container {
    display: flex;
    gap: 1px;
    margin-bottom: 20px; /* space between placeholders and stock table */
    width: 100%;
}

.placeholder-box {
    flex: 1;
    font-size: 17px;
    background-color: #ccc;
    color: black;
    padding: 10px;
    text-align: center;
    font-family: League Gothic, sans-serif;
}

/* Graphs stacked */
.graphs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Space between graphs */
}

.graph-placeholder,
.graph-placeholder-radar {
    width: 400px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graph-placeholder {
    height: 280px;
}

.graph-placeholder-radar {
    height: 310px;
}

.graph-placeholder img,
.graph-placeholder-radar img {
    max-width: 100%;
    max-height: 100%;
}
